/* Page setup */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header */
header {
  background-color: #0066cc;
  color: white;
  padding: 20px;
  border-bottom: 3px solid #004a99;
}

/* h1 and h2 styles */
h1 {
  color: #27B7F5; /* hex color */
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  color: #FF7F50; /* hex color */
  font-size: 22px;
  margin-top: 0;
}





/* Lists */
ol, ul {
  width: 50%;
  margin: 20px auto;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

/* Images */
.images img {
  width: 180px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

/* Button */
button {
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}


/* Footer */
footer {
  background-color: #0066cc;
  color: white;
  padding: 10px;
  font-size: 14px;
  border-top: 3px solid #004a99;
  margin-top: 30px;
}